<section class="content-header">
    <h4><b>批量订单</b></h4>
    <h6>该功能用于批量处理订单信息</h6>
    <div class="sp-line"></div>
</section>
<section class="content">
    <div class="box">
        <div class="box-body" >
            <label class="label label-warning">上传文件</label>
            <div class="sp-line"></div>
            <div class="form-group form-group-sm">
                <div class="row-line">
                    <label>
                        <span>文件名：</span>
                        <span class="label label-success" ng-repeat="file in files">{{file.name}}</span>
                    </label>
                </div>
                <div>
                     <label>上传进度：</label>
                     <progressbar class="progress-striped active" value="ProgressBar.dynamic" type="danger"><i>{{ProgressBar.dynamic}} %</i></progressbar>
                </div>
                <span class="fsize-12 text-danger">(仅支持*.xlsx格式,最大20M)</span>
                <div class="sp-line"></div>
                <div class="row-line">
                    <div class="btn btn-primary" ng-file-select ng-model="files" accept=".xlsx">选择文件</div>
                    <div class="btn btn-success" ng-click="upload()" ng-show="files">上传</div>
                </div>
                <div>
                    <!--<div id="wrapper" class="scroll-wrapper">
                        <table class="table table-hover fsize-12">
                            <tbody ng-repeat="item in ordersData" style="border:0;">
                            <tr class="cursor">
                                <td ng-repeat="excelCol in item.data track by $index" class="nowrap">
                                    <span>{{excelCol}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>-->
                    <div>
                        <div class="btn btn-success btn-block" ng-click="commitBatch()" ng-show="isUploaded">导入</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>