<div class="container">
    <div class="row">
        <div class="col-lg-2 no-padding">
            <div class="pull-right left-fixed">
                <a  class="left-tab" ng-click="switch(1)" ng-class="{'left-tab-active': entry==1}">操作指引</a>
                <div ng-show="entry==1">
                    <div class="left-tab-item" ng-click="goAnchor('reg')">如何注册?</div>
                    <div class="left-tab-item" ng-click="goAnchor('pay')">如何下单?</div>
                    <div class="left-tab-item" ng-click="goAnchor('abroad')">如何海外购物?</div>
                </div>
                <div class="clear"></div>
                <a class="left-tab" ng-click="switch(2)" ng-class="{'left-tab-active': entry==2}">服务资费说明</a>
                <div class="clear"></div>
                <a class="left-tab" ng-click="switch(3)" ng-class="{'left-tab-active': entry==3}">禁运说明</a>
                <div class="clear"></div>
                <a class="left-tab" ng-click="switch(4)" ng-class="{'left-tab-active': entry==4}">相关资料</a>
                <div class="clear"></div>
            </div>
        </div>
        <div class="col-lg-10 reg-panel fs12 bg-net shadow-div">
            <div class="padding30">
                <!-- 操作指引 -->
                <div ng-show="entry == 1">
                    <div id="reg" class="portal-title "><i class="glyphicon glyphicon-book mr10"></i><b>如何注册?</b></div>
                    <div class="row-line fs14">
                        <p>1.通过主页右上角入口点击进入注册流程</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_01.jpg"></p>
                        <p>2.正确填写基本信息后，点击“下一步”</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_02.jpg"></p>
                        <p>3.仲良速递会往您的注册邮箱发送确认邮件，请前往注册邮箱查看并点击验证</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_03.jpg"></p>
                        <p>4.邮箱认证成功如下图所示</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_04.jpg"></p>
                        <p>5.上传身份证正反面照片，点击下一步，完成账户创建</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_05.jpg"></p>
                        <p>6.完成账户注册</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_reg_06.jpg"></p>
                    </div>
                    <div id="pay" class="portal-title "><i class="glyphicon glyphicon-link mr10"></i><b>如何下单?</b></div>
                    <div class="row-line fs14">
                        <p>1.通过主页浮窗或菜单进入下单入口</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_01.jpg"></p>
                        <p>2.根据是否为仲良速递会员,选择相应入口,建议注册会员享受更多优惠</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_02.jpg"></p>
                        <p>3.进入订单基本信息录入页面,填写需要运送的货物基本信息,填写确认无误点击[下一步]</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_03.jpg"></p>
                        <p>4.在客户信息界面填写正确的客户信息,建议上传身份证照片,并选择个人化的增值服务,点击[下一步]进入订单确认页面</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_04.jpg"></p>
                        <p>5.再次确认订单信息,确认无误点击[订单确认],生成订单并进入订单支付页面</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_05.jpg"></p>
                        <p>6.根据登录方式和个人喜好选择支付宝或余额支付</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_06.jpg"></p>
                        <p>7.支付完成后,订单创建并完成,等待仲良速递后续流程,您可以通过订单号查询订单实时状态</p>
                        <p><img width="80%" class="pic-img" src="themes/default/img/item_order_07.jpg"></p>
                    </div>
                    <div id="abroad" class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>如何海外购物?</b></div>
                    <div class="row-line">
                        <p>1.访问美国亚马逊网站，点击页面顶部注册链接。（如果你已经注册过，这一步就可以跳过了）</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_01.jpg"></p>
                        <p>2.输入电子邮件地址，并选择“No, I am a new customer.（我是一个新顾客）”。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_02.jpg"></p>
                        <p>3.设置用户昵称，重新输入邮件地址，设置密码，提交创建用户</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_03.jpg"></p>
                        <p>4.注册亚马逊完成，开始购物啦！可以在搜索栏中输入想购买的商品，或者点击旁边的分类目录查看商品，
                            当然也可以直接访问淘者提供的优惠商品页面购买商品。本例搜索非常著名的“费雪小海马”。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_04.jpg"></p>
                        <p>5.在费雪小海马详情页，我们选择购买数量并加入购物车。由美国亚马逊负责配送的商品可以享受购物满$25美元免费送货。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_05.jpg"></p>
                        <p>6.我们直接进行结算，您可以选择多样商品后在购物车页面选择进行结算。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_06.jpg"></p>
                        <p>7.首先我们输入收货地址，这里姓名、地址、城市、州、电话等信息都按转运公司提供的填写。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_07.jpg"></p>
                        <p>8.选择运输方式。由美国亚马逊负责配送的商品可以享受购物满$25美元免费送货。这里我们选择这个Free Super Saver Shipping免费送货。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_08.jpg"></p>
                        <p>9.输入支付信息，我们首先添加一张信用卡，输入卡号、姓名、截止日期，并确认进行下一步。
                            （这里的信用卡需要是双币信用卡，Visa、Master、American Express都可以。信用卡第一次使用时，会预授权1美元用来测试信用卡的有效性，不必担心，这1美元不会体现在账单中。）</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_09.jpg"></p>
                        <p>10.最后是整个订单的详情，我们可以检查所购商品及数量、收货地址、支付方式、运输方式和订单金额等信息。如果没有问题，就可以下单了！</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_10.jpg"></p>
                        <p>11.到此在亚马逊下单完成了，我们现在就等亚马逊发货，并发送到转运公司了。</p>
                        <p><img width="60%" class="pic-img" src="themes/default/img/item_abroad_11.jpg"></p>
                    </div>
                </div>
                <!-- 资费说明 -->
                <div ng-show="entry == 2">
                    <div class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>资费说明</b></div>
                    <div class="row-line">
                        <h5 class="text-skyblue">基本收费</h5>
                        <table class="table table-hover webBox">
                            <tr class="bg-orange text-white no-border">
                                <th class="default" style="width:25%;">计费项目</th>
                                <th class="default" style="width:60%;">说明</th>
                                <th class="default text-center" style="width:15%;">明细</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>运费首重500克</b>
                                    </div>
                                </td>
                                <td class="text-warning">货品不超过500克获取货品重量500克以内部分重量，按照首重运费收取</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>￥49</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>运费续重100克</b>
                                    </div>
                                </td>
                                <td class="text-warning">超过首重500克以外的货品重量，按照每100克的阶梯收取续重费用.货品重量不能超过3千克</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>￥49</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>免税州收货</b>
                                    </div>
                                </td>
                                <td class="text-warning">可免去美国国内消费税的免税州地方政策扶植</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>免费</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>海外仓库免费保管</b>
                                    </div>
                                </td>
                                <td class="text-warning">包裹在转运仓库储存费用.包裹30天内仓储费用全免,超过90天视作弃货处理</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>30天</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>税费</b>
                                    </div>
                                </td>
                                <td class="text-warning">部分货品需要缴纳关税，关税由仲良速递代收</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>-</b></span>
                                </td>
                            </tr>
                        </table>

                        <h5 class="text-skyblue margin-height-space-sm">增值服务</h5>
                        <table class="table table-hover webBox">
                            <tr class="bg-orange text-white">
                                <th class="default" style="width:25%;">增值服务名称</th>
                                <th class="default" style="width:60%;">说明</th>
                                <th class="default text-center" style="width:15%;">明细</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-globe"></span>
                                        <b>仓储服务</b>
                                    </div>
                                </td>
                                <td class="text-warning">包裹在转运仓库储存费用.包裹30天内仓储费用全免,超过90天视作弃货处理</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderFixedCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        <b>加固包裹</b>
                                    </div>
                                </td>
                                <td class="text-warning">采用泡沫或填充物对易碎品进行加固处理,防止货物破损,但不能保证运输意外受损</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderFixedCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-compressed"></span>
                                        <b>专业包装箱</b>
                                    </div>
                                </td>
                                <td class="text-warning">使用全新的货物包装箱对包裹进行全新加固封箱,进一步保证包裹完整性</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderBoxCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-send"></span>
                                        <b>加急处理</b>
                                    </div>
                                </td>
                                <td class="text-warning">选择直通绿色通道,大幅缩短货物转运清关物流时间</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderFastCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-credit-card"></span>
                                        <b>货品保价</b>
                                    </div>
                                </td>
                                <td class="text-warning">按照货品总价,收取2%的保价费用,若产生货品丢失等问题全额赔偿</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>2%</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-phone"></span>
                                        <b>电子产品保险</b>
                                    </div>
                                </td>
                                <td class="text-warning">若货品为电子产品,收取2%的电子产品强制保险费用,并在此基础上增收20人民币材料费</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>2% + ￥20</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-transfer"></span>
                                        <b>退换货服务</b>
                                    </div>
                                </td>
                                <td class="text-warning">退换货服务费,运费买家自行承担</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderReturnCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-hand-up"></span>
                                        <b>内件清点</b>
                                    </div>
                                </td>
                                <td class="text-warning">按照用户订单中货品明细进行详细清点,避免商家漏发或货品遗漏</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderDetailProductCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="input-group-addon fixed-width-120 text-left fs12">
                                        <span class="glyphicon glyphicon-gift"></span>
                                        <b>取出发票/宣传资料</b>
                                    </div>
                                </td>
                                <td class="text-warning">馈赠、礼物等需要对商品价格保密情况下,提供取出内件发票或宣传资料服务</td>
                                <td class="text-center">
                                    <span class="fs12 text-danger"><b>{{config.onlineOrderRemovePagesCost|currency:"￥"}}</b></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 禁运说明 -->
                <div ng-show="entry == 3">
                    <div id="all" class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>禁运物品</b></div>
                    <div class="row-line">
                        <h3 class="text-skyblue">（一）快递禁运品：</h3>
                        <p class="text-indent">1、难以估算价值的有价证券及易丢失的贵重物品，如：提货单、核销单、护照、
                            配额证、许可证、执照、私人证件、汇票、发票、本国或外国货币（现金）、金银饰物、人造首饰、手机。</p>
                        <p class="text-indent">2、易燃易爆、腐蚀性、毒性、强酸碱性和放射性的各种危险品，
                            如：火柴、雷管、火药、爆竹、汽油、柴油、煤油、酒精（液体和固体）、硫酸、盐酸、硝酸、
                            有机溶剂、农药及其它列入化学工业出版社出版的“化学危险品实用手册”中的化工产品。</p>
                        <p class="text-indent">3、各类烈性毒药、麻醉药物和精神物品，如：砒霜、鸦片、吗啡、可卡因、海洛英、大麻等。</p>
                        <p class="text-indent">4、国家法令禁止流通或寄运的物品，如：文物、武器、弹药、仿真武器等。</p>
                        <p class="text-indent">5、含有反动、淫秽或有伤风化内容的报刊书籍、图片、
                            宣传品、音像制品，激光视盘（VCD、DVD、LD）、计算机磁盘及光盘等。</p>
                        <p class="text-indent">6、妨碍公共卫生的，如尸骨（包括已焚的尸骨）、未经硝制的兽皮、未经药制的兽骨等。</p>
                        <p class="text-indent">7、动物、植物以及它们的标本。</p>
                        <p class="text-indent">8、难以辨认成分的白色粉末。</p>
                        <h3 class="text-skyblue">（二）航空禁运品：</h3>
                        <p class="text-indent">1、威胁航空飞行安全的物品，指在航空运输中，可能明显地危害人身健康、
                            安全或对财产造成损害的物品或物质。主要有以下几类：</p>
                        <p class="text-indent padding10-left">A. 爆炸品：如烟花爆竹、起爆引信等；</p>
                        <p class="text-indent padding10-left">B. 气体：如压缩气体、干冰、灭火器、蓄气筒(无排放装置，不能再充气的)、
                        救生器(可自动膨胀的)等；</p>
                        <p class="text-indent padding10-left">C. 易燃液体：如油漆、汽油、酒精类、机油、樟脑油、发动机起动液、
                        松节油、天拿水、胶水、香水等；</p>
                        <p class="text-indent padding10-left">D. 易燃固体：自燃物质，遇水释放易燃气体的物质，如活性碳、钛粉、椰肉干、
                        蓖麻制品、橡胶碎屑、安全火柴(盒擦的或片擦的)、干燥的白磷、干燥的黄磷、镁粉等；</p>
                        <p class="text-indent padding10-left">E. 氧化剂和有机过氧化物：如高锰酸钾；</p>
                        <p class="text-indent padding10-left">F. 毒性和传染性物品：如农药、锂电池、催泪弹等；</p>
                        <p class="text-indent padding10-left">G. 放射性物质；</p>
                        <p class="text-indent padding10-left">H. 腐蚀品：如蓄电池、碱性的电池液；</p>
                        <p class="text-indent padding10-left">I.未加消磁防护包装的磁铁、磁钢等含强磁的制品。</p>
                        <p class="text-indent">2、任何药品。</p>
                        <p class="text-indent">3、其它航空禁运品，如：粉末状物品 (不论何种颜色) 、液体（不论使用何种包装）、
                            外包装有危险标志的货品、没有国家音像出版社证明的音像制品（含CD、VCD）、刀具、
                            榴莲、带气火机、涉及“武器”和“枪支”概念的任何货品（含玩具）等。</p>
                    </div>

                    <div id="china" class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>中国禁止或限制进境物品</b></div>
                    <div class="row-line">
                        <h3 class="text-skyblue">（一）中国大陆禁止进境物品</h3>
                        <p class="text-indent">1. 各种武器、仿真武器、弹药及爆炸物品；</p>
                        <p class="text-indent">2. 伪造的货币及伪造的有价证券；</p>
                        <p class="text-indent">3. 对中国政治、经济、文化、道德有害的印刷品、胶卷、照片、唱片、影片、录音带、
                            录像带、激光视盘、计算机存储介质及其他物品；</p>
                        <p class="text-indent">4. 各种烈性毒药；</p>
                        <p class="text-indent">5. 鸦片、咖啡、海洛因、大麻以及其它能使人过瘾的麻醉品、精神药物；</p>
                        <p class="text-indent">6. 带有危险性病菌、害虫及其它有害生物的动物、植物及其产品；</p>
                        <p class="text-indent">7. 有碍人畜健康的、来自疫区的以及其他能传播疾病的食品、药品或其它物品。</p>
                        <h3 class="text-skyblue">（二）中国大陆限制进境物品</h3>
                        <p class="text-indent">1. 无线电收发信机、通信保密机；</p>
                        <p class="text-indent">2. 烟、酒；</p>
                        <p class="text-indent">3. 濒危的和珍贵的动、植物（均含标本）及其种子和繁殖资料；</p>
                        <p class="text-indent">4. 国家货币；</p>
                        <p class="text-indent">5. 海关限制进境的其它物品。</p>
                    </div>

                    <div id="usa" class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>美国禁止和限制进出口物品规定</b></div>
                    <div class="row-line">
                        <p class="text-indent">下列货物除特殊情况，特殊安排外，不能承运进出口美国，或进出口任何国家均
                            （不同的目的地国家有附加的规定；某些特定货物海关会做出调整，转运的时间就会延长。）</p>
                        <h3 class="text-skyblue">（一）美国一般性进出口限运物品</h3>
                        <p class="text-indent">1. 美国陆军/海军邮政局地址；</p>
                        <p class="text-indent">2. 尸骨，人体器官或人体部位，人或动物的胚胎，或已焚化或挖掘出的人体残骸；</p>
                        <p class="text-indent">3. 爆炸品，枪械，武器装备及其零部件</p>
                        <p class="text-indent">4. 要求冷藏或其他环境条件保存的易腐食品、食物和饮料等；</p>
                        <p class="text-indent">5. 活的动物（包括昆虫）；</p>
                        <p class="text-indent">6. 植物和植物材料，包括鲜切花（由加拿大网点或由哥伦比亚，厄瓜多尔，荷兰等国家收取的鲜切花可以快递到美国）；</p>
                        <p class="text-indent">7. 彩票和当地州，联邦法律禁止进口的赌博设备；</p>
                        <p class="text-indent">8. 货币（钱币，现金，货币，纸币和有价证券如背书的股票，债券和现金运送单）；</p>
                        <p class="text-indent">9. 用来收藏的钱币和邮票；</p>
                        <p class="text-indent">10. 色情或淫秽内容；</p>
                        <p class="text-indent">11. 有害的废料，包括但不限于使用过的针头或注射器或其它医药废料；</p>
                        <p class="text-indent">12. 可能造成人员伤害，设备损坏，或其它货物的运输延误的货物；</p>
                        <p class="text-indent">13. 需要获得转运，进出口许可的货物；</p>
                        <p class="text-indent">14. 被任何法律，法规或规章禁止进口或出口的货物；</p>
                        <p class="text-indent">15. 货物的申报价值超出目的地允许进口的范围；</p>
                        <p class="text-indent">16. 除危险品相关规定和条款允许的情况外的任何危险品；</p>
                        <p class="text-indent">17. 加工或未加工的死去的动物，包括昆虫和宠物，
                            已制成标本的狩猎纪念品好完全干燥加工的完整动物或部分动物标本可以进入美国；</p>
                        <p class="text-indent">18. 受潮的包裹，有异常气味泄露或散发的包裹；</p>
                        <p class="text-indent">19. 野生动植物产品出口前需要通过美国鱼类和野生动物保护委员会检验许可</p>
                        <h3 class="text-skyblue">（二）美国出口禁运品下列货物美国法律禁止出口</h3>
                        <p class="text-indent">1. 法律禁止捕猎或捕杀的野生动物及鸟类，以及他们的蛋或卵，无论死的还是活的；</p>
                        <p class="text-indent">2. 狗或猫的毛皮制成的物品。</p>
                        <h3 class="text-skyblue">（三）美国出口限运品下列货物可承运出口，但受法律限制，需要特定管理部门的许可</h3>
                        <p class="text-indent">1. 出口管理规章中涉及到的货物，包括但不限于化学药品，微生物，电子产品，
                            计算机，电信和信息安全设备，激光发射器和传感器，航海及航空电子设备，动力装置，核技术相关的原料好设备；</p>
                        <p class="text-indent">2. 酒精，酒；</p>
                        <p class="text-indent">3. 草，种子和植物。</p>
                    </div>
                </div>
                <!-- 相关资料 -->
                <div ng-show="entry == 4">
                    <div class="portal-title "><i class="glyphicon glyphicon-eye-open mr10"></i><b>资料下载</b></div>
                    <div class="row-line padding30">
                        <div>
                            <img class="bottom-img" width="25px" src="themes/default/img/icon-word.png">
                            <b class="ml5 cursor fs14 text-skyblue"><a href="files/完税价格表.doc">完税价格表.doc</a></b>
                        </div>
                        <div class="margin-height-space-sm">
                            <img class="bottom-img" width="25px" src="themes/default/img/icon-word.png">
                            <b class="ml5 cursor fs14 text-skyblue"><a href="files/免责条款与服务说明.docx">免责条款与服务说明.docx</a></b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>