<div class="container">
    <div class="row">
        <ul class="reg-steps">
            <li class="reg-steps-item" ng-class="{'reg-steps-item-focus': STEP==1}">
                <span class="label label-default padding-width-space-sm" ng-class="{'label-success': STEP==1}">1</span>
                <span>填写订单信息</span>
            </li>
            <li class="reg-steps-item" ng-class="{'reg-steps-item-focus': STEP==2}">
                <span class="label label-default padding-width-space-sm" ng-class="{'label-success': STEP==2}">2</span>
                <span>填写物流信息</span>
            </li>
            <li class="reg-steps-item" ng-class="{'reg-steps-item-focus': STEP==3}">
                <span class="label label-default padding-width-space-sm" ng-class="{'label-success': STEP==3}">3</span>
                <span>上传身份信息</span>
            </li>
            <li class="reg-steps-item" ng-class="{'reg-steps-item-focus': STEP==4}">
                <span class="label label-default padding-width-space-sm" ng-class="{'label-success': STEP==4}">4</span>
                <span>订单支付</span>
            </li>
            <li class="reg-steps-item" ng-class="{'reg-steps-item-focus': STEP==5}">
                <span class="label label-default padding-width-space-sm" ng-class="{'label-success': STEP==5}">5</span>
                <span>订单完成</span>
            </li>
            <li class="clearfix"></li>
        </ul>
    </div>
    <div class="row" ng-show="STEP == 1">
        <div class="col-lg-10 col-lg-offset-1 reg-panel">
            <form>
                <div class="reg-input-group">
                    <div class="input-title">登录名</div>
                    <input type="text" class="input-element"/>
                </div>
                <div class="col-lg-6 reg-input-group">
                    <div class="input-title">密码</div>
                    <input type="text" class="input-element"/>
                </div>
                <div class="reg-input-group">
                    <div class="input-title">确认密码</div>
                    <input type="text" class="input-element"/>
                </div>
                <div class="col-lg-6 reg-input-group">
                    <div class="input-title">昵称</div>
                    <input type="text" class="input-element"/>
                </div>
                <div class="reg-input-group">
                    <div class="input-title">姓名</div>
                    <input type="text" class="input-element"/>
                </div>
                <div class="col-lg-6 reg-input-group">
                    <div class="input-title">性别</div>
                    <select class="select-element" ng-model="UserSex" ng-options="sex.value for sex in SexList"></select>
                </div>
                <div class="reg-input-group">
                    <div class="input-title">身份证</div>
                    <input type="text" ng-model="idNo" class="input-element"/>
                </div>
                <div class="col-lg-6 reg-input-group">
                    <div class="input-title">手机号码</div>
                    <input type="tel" ng-model="phone" class="input-element"/>
                </div>
                <div class="reg-input-group">
                    <div class="input-title">电子邮箱</div>
                    <input type="email" ng-model="email" class="input-element"/>
                </div>
                <div class="reg-input-group">
                    <div class="input-title">地址</div>
                    <input type="text" ng-model="address" class="input-element"/>
                </div>
                <div class="sp-line margin-height-space-sm"></div>
                <div class="reg-input-group">
                    <button class="btn btn-success pull-right" ng-click="nextStep()">下一步</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row" ng-show="STEP == 2">
        <div class="col-lg-10 col-lg-offset-1 reg-panel">
            <form>
                <div>确认邮件已经发往您的注册邮箱：</div>
                <div><b class="text-danger">{{email}}</b></div>
                <div>请于30分钟内登录邮箱并通过激活链接进行注册信息激活操作.</div>
                <div class="sp-line margin-height-space-sm"></div>
                <div class="reg-input-group">
                    <button class="btn btn-warning" ng-click="preStep()">上一步</button>
                    <button class="btn btn-success pull-right" ng-click="nextStep()">下一步</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-show="STEP == 3">
        <div class="col-lg-10 col-lg-offset-1 reg-panel">
            <form>
                <div>注册步骤-完善基本信息</div>
                <div class="sp-line margin-height-space-sm"></div>
                <div class="reg-input-group">
                    <button class="btn btn-warning" ng-click="preStep()">上一步</button>
                    <button class="btn btn-success pull-right" ng-click="nextStep()">下一步</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-show="STEP == 4">
        <div class="col-lg-10 col-lg-offset-1 reg-panel">
            <form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="input-title">身份证正面</div>
                        <div class="img-select cursor" ng-file-select ng-model="idImgF" accept=".jpg">
                            <img ng-src="{{idImgFUrl}}" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="input-title">身份证背面</div>
                        <div class="img-select cursor" ng-file-select ng-model="idImgB" accept=".jpg">
                            <img ng-src="{{idImgBUrl}}" />
                        </div>
                    </div>
                </div>
                <div class="sp-line margin-height-space-sm"></div>
                <div class="reg-input-group">
                    <button class="btn btn-warning" ng-click="test()">上一步</button>
                    <button class="btn btn-success pull-right" ng-click="nextStep()">下一步</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" ng-show="STEP == 5">
        <div class="col-lg-10 col-lg-offset-1 reg-panel">
            <form>
                <div>注册步骤-注册成功</div>
                <div class="sp-line margin-height-space-sm"></div>
                <div class="reg-input-group">
                    <button class="btn btn-success pull-right" ng-click="nextStep()">开始使用</button>
                </div>
            </form>
        </div>
    </div>
</div>