<div class="container-fluid">
    <div class="row">
        <div class="banner">
            <img src="themes/default/img/banner.jpg?v=20151109">
        </div>
    </div>
</div>
<div class="float-panel login-panel">
    <div class="tab-group">
        <div ng-click="changeMode(0)" class="float-tab" ng-class="{'float-tab-active': displayMode==0}">
            <i class="glyphicon glyphicon-time mr10"></i>订单查询
        </div>
        <div ng-click="changeMode(1)" class="float-tab" ng-class="{'float-tab-active': displayMode==1}">
            <i class="glyphicon glyphicon-plane mr10"></i>开始下单
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="queryOrder" ng-show="displayMode == 0" class="float-inner hspace20">
        <div class="input-group input-group-lg" ng-show="Error">
            <p><span class="label label-danger">{{Error}}</span></p>
        </div>
        <div>
            <div class="input-group input-group">
                <input type="text" class="form-control" ng-model="OrderId" placeholder="请输入订单编号查询">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" ng-click="detailOrder()">查询</button>
                </span>
            </div>
            <div class="pull-right"><a href="#/"><span class="fs12 text-tip">遇到问题?</span></a></div>
            <div class="clearfix"></div>
        </div>
        <div class="tip-group">
            <div class="tip-line">
                <div class="tip-img"><img src="themes/default/img/icon-bag.png"></div>
                <div class="tip-content">
                    <div class="tip-header">如何进行国际购物？</div>
                    <div class="tip-text"><a href="#/business">国外官网购物指导</a><a href="#/business">海淘商城购物指导</a><a href="#/business">进出口岸政策</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tip-line">
                <div class="tip-img"><img src="themes/default/img/icon-clock.png"></div>
                <div class="tip-content">
                    <div class="tip-header">如何进行转运下单操作？</div>
                    <div class="tip-text"><a href="#/business">价格说明及包裹限制</a><a href="#/business">进境完税价格表</a><a href="#/company">仲良的技术优势</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="tip-line">
                <div class="tip-img"><img src="themes/default/img/icon-light.png"></div>
                <div class="tip-content">
                    <div class="tip-header">如何注册成为仲良速递会员？</div>
                    <div class="tip-text"><a href="#/company">仲良速递介绍</a><a href="#/business">如何注册会员</a><a href="#/business">会员优惠</a></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <div id="createOrder" ng-show="displayMode == 1">
        <div><img src="themes/default/img/order.jpg" class="go-order" ng-click="goOrder()"></div>
    </div>
</div>
