::-webkit-scrollbar/*整体部分*/
{
    width: 10px;
    height:10px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0px;
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb/*滑块*/
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #5daee9;
}

*{
    font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}

.nav, .pagination, .carousel, .panel a { cursor: pointer; }
.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
body {
    background-color: #eee;
    font-family:"微软雅黑";
}

.vertical-scroll::-webkit-scrollbar {
    width: 12px;
}
.vertical-scroll-sm::-webkit-scrollbar {
    width: 7px;
}
.vertical-scroll::-webkit-scrollbar-thumb {
    background: #a6a6a6;
}
.vertical-scroll::-webkit-scrollbar-track {
    border-left: 1px solid #a6a6a6;
    background: #d9d9d9;
}

.icon-chevron-down {
    margin-left: 8px;
    font-size: 12px;
}
.icon-pencil  {
    position: absolute;
    top: initial;
    right: 8px;
    bottom: 8px;
    font-size: 12px;
}


.sys-navlogo {
    padding: 5px;
    padding-right:40px;
}

.sys-navbar {
    margin-bottom: 0;
    position: relative;
    background-color: rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
    height:70px;
}

.sys-navbar .sys-navlogo, .sys-navbar .navbar-nav>li>a {
    font-weight: 500;
    margin-right:2px;
    line-height: 39px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    background-color: rgba(0, 0, 0, 1);
}
.sys-navbar .navbar-nav>li>a:hover, .sys-navbar .navbar-nav>.active>a:hover {
    color: #D8D8D8;
    background-color: #003D50;
    /*box-shadow: 0px 8px 30px #202020;*/
}

.sys-navbar .navbar-nav>.active>a {
    color: #00A9DD;
}

.panel-heading {
    position: relative;
}

.sys-form-modal {
    padding: 15px;
}

.panel-collapse {
    position: relative;
}

.form-login{
    margin-top:120px;
}

.form-login input[name="loginId"] {
    margin-bottom: -1px;
}
.form-login input[name="password"] {
    margin-bottom: -1px;
}

@-webkit-keyframes icon-animate {
    from {
        background-position: center top; }
    to {
        background-position: center -2350px; }
}

@-moz-keyframes icon-animate {
    from {
        background-position: center top; }
    to {
        background-position: center -2350px; }
}

@keyframes icon-animate {
    from {
        background-position: center top; }
    to {
        background-position: center -2350px; }
}

.sys-panel{
    font-size:12px;
    margin: 0;
}

.padding-width-space-sm{
    padding-right:5px;
}

.margin-height-space-sm{
    padding-top:10px;
}

.bs-callout{
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-info{
    border-left-color: #5bc0de;
}

.row-line {
    padding-top: 10px;
    padding-bottom: 10px;
}
.table{
    font-size:12px;
    margin-bottom:10px;
}
.data-name {
    /*font-size:12px;*/
    color:#8A948C;
    line-height:40px;
}

.data-value {
    /*font-size:12px;*/
    color:#414141;
    line-height:40px;
}

.login-btn{
    margin-top:15px;
}

.panel-close{
    float:right;
    cursor: pointer;
}
.bg-orange{
    background: #f16441 !important;
}
.bg-skyblue{
    background:#27a1d5 !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-yellow {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #f56954 !important;
}
.bg-disable{
    background-color: #eee !important;
}

.fs10{
    font-size:10px;
}
.fs12{
    font-size:12px;
}
.fs14{
    font-size:14px;
}
.fs16{
    font-size:16px;
}
.fs20{
    font-size:20px;
}
.fs42{
    font-size:42px !important;
}
.hidden{
    display: none;
}

/*管理中心*/
.hover-menu{
    position:absolute;
    background-color: white;
    padding:5px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}
.cursor{
    cursor: pointer;
}
.padding-modal{
    padding:10px;
}
.no-effect{
    border:none;
    box-shadow:none;
}
.text-gray{
    color:#AAAAAA;
}
.text-orange{
    color:#f16441;
}
.text-dark{
    color: #999999;
}
.text-tip{
    color: #ff8000;
}
.text-white{
    color:#ffffff;
}
.text-success{
    color:#00a65a;
}
.text-danger{
    color:#f56954;
}
.text-skyblue{
    color:#27A1D5;
}
.text-info{
    color:#00c0ef;
}
.sp-line {
    border-bottom: dashed 1px #CECECE;
}
.link-line{
    border-bottom: dashed 1px #CECECE;
}
.link-line:hover{
    color:#f56954;
}
.box {
    position: relative;
    background: #ffffff;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0,133,145,1.0);
}
.box-headline {
    min-height:4px;
    border-top: 3px solid #c1c1c1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.box-headline.box-danger {
    border-top-color: #f56954;
}
.box-headline.box-primary {
    border-top-color: #3c8dbc;
}
.box-headline.box-success {
    border-top-color: #00a65a;
}
.box-headline.box-warning {
    border-top-color: #f39c12;
}
.box-headline.box-info {
    border-top-color: #00c0ef;
}
.box .box-heading {
    position: relative;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid #f4f4f4;
    background-color:rgba(0,133,145,0.8);
    color: #ffffff;
    padding-top:5px;
    padding-left:10px;
    padding-right:10px;
}
.box .box-body {
    padding: 10px;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.left-side {
    background: #f4f4f4;
    -webkit-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.1);
    box-shadow: inset -3px 0px 8px -4px rgba(0, 0, 0, 0.07);
}
.left-side {
    position: absolute;
    width: 220px;
    top: 70px;
    min-height:640px;
}
.float-side {
    position:absolute;
    display: block;
    width: 100%;
    min-height:640px;
    z-index:200;
    background:rgba(0,0,0,.3);
}
.loading{
    margin-top:280px;
    font-weight: bold;
    font-size:18px;
    color:white;
}
.right-side {
    margin-left: 220px;
}
.right-side > .content-header {
    position: relative;
    padding: 15px 15px 10px 20px;
}
.right-side > .content {
    padding: 20px 15px;
}
.panel-right{
    margin-left:15px;
    margin-right:15px;
}
.user-panel {
    padding: 10px;
}
.user-panel > .image > img {
    width: 45px;
    height: 45px;
}
.element-circle {
    border-radius: 50%;
}
.user-panel > .info {
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    line-height: 1;
}
.sidebar-form {
    margin: 10px 10px;
}
.sidebar-menu {
    list-style: none;
    margin-top:20px;
    padding: 0;
    cursor: pointer;
}
.sidebar > .sidebar-menu > li {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbdbdb;
}
.sidebar-menu > li > a, .treeview-menu > li > a {
    color: #AAAAAA;
    padding: 12px 5px 12px 15px;
    display: block;
}

.sidebar-menu > li.active > a, .treeview-menu li.active > a {
    color: #00a65a;
    background: #f9f9f9;
}
.sidebar-menu .treeview-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #f9f9f9;
    font-size: 12px;
}
.sidebar-menu .treeview-menu li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar-menu .sub-tip {
    margin-top:4px;
}

.tipInvalid{
    background:none;
    color:#a94442;
    border: 0;
}

.tipValid{
    background:none;
    color:#00a65a;
    border: 0;
}

.input-inner-margin{
    margin-bottom:15px;
}

.banner img{
    width: 100%;
}
.tab-group{
    border-bottom:solid 1px rgba(255, 255, 255, .2);
}

.float-tab{
    float: left;
    width: 50%;
    text-align: center;
    font-size:14px;
    color:white;
    font-weight: bold;
    line-height: 40px;
    cursor: pointer;
}
.float-tab:hover{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cdf7), to(#008cc6));
}
.float-tab-active{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e78f08), to(#d34d17));
}
.float-panel{
    width:400px;
    background: rgba(0,0,0,.5);
    position: absolute;
}
.login-panel{
    margin-top:-460px;
    right:130px;
}
@media (max-width: 768px) {
    .data-value{
        border-bottom:dashed 1px #CECECE;
    }
    #menuButton{
        position:fixed;
        right:0;
        background: rgba(0,0,0,.8);
    }
    .navbar-nav>li>a {
        font-weight: 500;
        line-height: 30px;
        z-index: 500;
    }
    .float-panel{
        width:100%;
        background: rgba(0,0,0,.8);
        position:relative;
    }
    .login-panel{
        margin:0;
        right:0;
    }
    #navbar{
        position:fixed;
        width:70%;
        margin-left:25%;
        z-index:9999;
        background: rgba(0,0,0,.9);
        border:solid 1px white;
        border-radius:10px;
    }
    .navbar{
        z-index:500;
        broder-radius:0 !important;
    }
    .sys-navlogo {
        padding: 5px;
    }
    .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
        font-weight: bold;
        color:white;
        background: none;
        border-bottom:dashed 1px white;
    }
    .sys-navbar .navbar-nav>li>a:hover, .sys-navbar .navbar-nav>.active>a:hover {
        color: #D8D8D8;
        background: none;
        border-bottom:dashed 1px white;
    }
}
.float-panel h3{
    padding-top:5px;
    padding-bottom:5px;
    line-height: 16px;
    font-size:16px;
    font-weight: bold;
    color:white;
}
.float-inner{
    padding-left:20px;
    padding-right:20px;
}
.tip-group{
    padding-top:15px;
}
.tip-line{
    padding-bottom:30px;
}
.tip-img{
    float: left;
    padding-right: 10px;
}
.tip-header{
    padding-top:5px;
    font-size:14px;
    font-weight: bold;
    color:white;
    line-height: 14px;
}
.tip-text{
    padding-top:5px;
}
.tip-text a{
    color: rgba(232, 232, 232, .65);
    font-size:12px;
    padding-right:10px;
    text-decoration: none;
}
.tip-text a:hover{
    color: #ff8000;
}

.scroll-wrapper{
    overflow: hidden;
    max-height: 600px;
}

.nowrap{
    white-space: nowrap;
}

.dropdown-menu{
    z-index:9999;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background: #F8F1F1;
}

.partner{
    text-align: left;
}
.partner-item{
    /*float:left;
    margin-right:30px;*/
    padding-top: 10px;
}
.partner-item .more {
    color: #b3b3b3;
    text-decoration: none;
    line-height: 25px;
    font-size:12px;
}
.partner-img img{
    height:90px;
    width: 100%;
}
.link{
    margin-top:50px;
    text-align: center;
    list-style: none;
}
.link-item{
    padding: 0 8px;
    border-right: 1px solid #cccccc;
    line-height: 12px;
    font-size:12px;
    display:inline;
}
.link-item a {
    text-decoration: none;
    color: #666666;
}
.link-item a:hover {
    text-decoration: underline;
}
.reg-steps{
    padding-top: 20px;
    padding-bottom:20px;
    list-style: none;
    /*border-bottom: dashed 1px #00A033;*/
    border-bottom:1px dashed rgba(66,66,66,.1);
    background:rgb(255, 250, 237);
    margin-bottom:0;
}
.reg-steps-item{
    float:left;
    min-width: 200px;
    text-align: left;
    line-height: 30px;
    color: #BDBDBD;
    font-size:12px;
}
.reg-steps-item-focus{
    color:#5cb85c;
    font-weight: bold;
}
.reg-panel{
    padding:0;
    /*margin-bottom:10px;*/
    background-color:white;
    /*border-top:solid 3px #00A9DD;*/
}
.padding10{
    padding: 10px;
}
.padding30{
    padding: 30px;
}
.info-panel{
    padding: 10px;
    margin-bottom:10px;
    background-color:white;
    border-top:solid 3px #00a65a;
}
.reg-input-group{
    padding:10px;
}
.reg-display-group{
    padding:10px;
    /*border-left: dashed 1px rgba(200,200,200, .6);*/
    /*border-right: dashed 1px rgba(200,200,200, .6);*/
    /*border-bottom: dashed 1px rgba(200,200,200, .6);*/
}
.input-title{
    font-size: 12px;
    font-weight: bold;
    color: #646464;
    padding-bottom:5px;
}
.input-element{
    min-width:260px;
    border: solid 1px #DDDDDD;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #FFFFFF;
    padding-left:5px;
    padding-right:5px;
    font-size:12px;
    color: darkgray;
    line-height: 30px;
}
.select-element{
    min-width:260px;
    border: solid 1px #DDDDDD;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #FFFFFF;
    padding-left:5px;
    padding-right:5px;
    font-size:12px;
    color: darkgray;
    line-height: 30px;
    height: 30px;
}
.img-select{
    height:140px;
    background-image:url("../img/img-select.png");
    background-size: 100%;
    -webkit-background-size: 100%;
}
.img-select img{
    width:100%;
    height:100%;
}
.ml12{
    margin-left: 12px;
}
.mr10{
    margin-right: 10px;
}
.hspace20{
    margin-top:20px;
}
.item-query{
    color:#121212;
    padding:10px;
    line-height: 50px;
    cursor:pointer;
}
.item-query:hover{
    color:#00a65a;
    border-bottom: dashed 1px #006666;
}
.go-order{
    width:100%;
    opacity: .5;
    cursor:pointer;
}
.go-order:hover{
    opacity: 1;
}
.jumbotron-step{
    font-size:14px;
    line-height: 30px;
    margin-top: 15px;
    color: #248605;
}
.step-ul{
    list-style: none;
    padding-left:0;
}
.step-li{
    display: inline;
    margin-right: 10px;
    line-height: 50px;
}
.no-padding{
    padding:0 !important;
}
.middle-lh{
    line-height: 30px;
}
.fl{
    float:left;
}
.online{
    font-size:12px;
    background: rgba(31, 29, 29, .5);
    width:100%;
    z-index: 10;
}

@media (max-width: 768px) {
    .no-display{
        display:none;
    }
}

.no-border{
    border:none !important;
}

.modal-content{
    border:0 !important;
    border-radius: 0 !important;
}

.order-entry{
    display: inline-block;
    margin-top: 80px;
    width: 280px;
    height: 388px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.order-entry-float{
    position: absolute;
    line-height: 308px;
    z-index:500;
    width: 280px;
    height: 308px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: rgba(0,0,0,.9);
    -webkit-transition: opacity 1.2s ease-in;
    -moz-transition: opacity 1.2s ease-in;
    -o-transition: opacity 1.2s ease-in;
    transition: opacity 1.2s ease-in;
}
.order-entry-float img{
    opacity: .6;
    width: 150px;
    height:150px;
}
.order-entry-float:hover{
    opacity: 0;
}
.order-entry-content{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 280px;
    height:308px;
    padding-top:20px;
    /*border-top: solid 2px;*/
    /*border-left:solid 2px;*/
    /*border-right:solid 2px;*/
}
.order-entry-content p{
    padding-left: 20px;
    padding-top:15px;
}
.order-entry-content img{
    position: relative;
    bottom: 0;
    opacity: .2;
}
.order-entry-footer{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 80px;
    line-height: 80px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.webBox{
    position: relative;
    background: none;
    padding-top:5px;
    margin-bottom: 10px;
    margin-top:20px;
    width: 100%;
    border: solid 1px #e2e2e2;
    /*border: 1px solid rgba(0,0,0,.1);
    border-top:0;*/
}
.webBox .box-heading {
    position: relative;
    color: #A6A6A6;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}
.webBox .box-body {
    padding: 10px;
    padding-bottom: 0px;
}

.webBox .input-group-addon{
    background: rgba(122, 167, 171, 0.3);
    border-radius: 0;
    border:0;
}

.webBox .form-control{
    background: rgba(237, 237, 237, 1);
    box-shadow: none;
    border:0;
}

.webBox .value{
    width: 100%;
    text-align: right;
    background: rgba(255,255,255,0);
}

.webBox .name{
    width: 100%;
    text-align: left;
    background: rgba(255,255,255,0);
}

.webBox table .form-control{
    font-size: 12px;
    padding: 0;
    padding-left: 5px;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid rgba(163, 163, 163, 0.3);
    height: 25px;
}

.webBox table th{
    border-top: none !important;
}

.webBox table td{
    border-top: none !important;
}

.bg-net {
    /*background: url("../img/homebg.gif");*/
    background:white;
}
.bg-dark {
    background: #7C7C7C;
}
.bg-white{
    background: #FFFFFF;
}
.border-danger{
    border-color: #F56954;
    border-width: 3px;
}
.row-amt{
    border-bottom: solid 2px #E8E8E8;
    margin: 0;
}
.clear{
    clear: both;
}
.pay-channel img{
    opacity: .3;
    zoom: .7;
}
.pay-channel-selected{
    zoom: 1 !important;
    opacity: 1 !important;
    border:solid 3px #008800;
}
.img-add{
    color: #ADADAD;
    font-size:16px;
    line-height: 140px;
    height:140px;
    font-weight: bold;
    text-align: center;
    border:solid 2px #888888;
}
.img-add img{
    width: 100%;
    height: 100%;
}
.head-pcenter{
    /*background: url("../img/bg_head_pcenter.png");*/
    height:60px;
    padding:10px;
}
.bg-pcenter{
    background: url("../img/bg_head_pcenter.png") no-repeat;
}
.tab-pcenter{
}
.tab-pcenter li a{
    color:white !important;
}
.tab-pcenter .active a{
    color:#008800 !important;
}
.fixed-width-120{
    width:140px;
}
.text-left{
    text-align: left;
}
.max-width{
    width:100% !important;
}
.tooltip-inner{
    white-space: normal !important;
}
.padding-0{
    padding:0 !important;
}
.partner-links{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}
.partner-links img{
    border:solid 2px #aaa;
    opacity: .6 !important;
    cursor: pointer;
}
.partner-links img:hover{
    opacity: 1 !important;
}
.shadow-div{
    box-shadow: 0px 0px 8px rgba(0,0,0,.5);
}
.portal-title{
    padding:10px;
    /*border-top: solid 1px #e2e2e2;*/
    /*border-bottom: solid 1px #e2e2e2;*/
    color:white;
    background: #4C4C4C;
    font-size:16px;
    /*box-shadow: 0px 0px 3px rgba(0,0,0, 0.4);*/
}
.portal-label{
    background: rgba(122, 167, 171, 0.3);
    border-radius: 0;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
    width:100px;
}
.reset-box{
    padding: 30px;
    border: solid 2px gray;
    line-height: 30px;
}
.reset-box .name{
    min-width: 100px;
    display: inline-block;
}
.reset-box input{
    height:30px;
    border:solid 2px gray;
    width: 200px;
}
.text-italic{
    font-style: italic;
}
.margin-right-30{
    margin-right:30px;
}
.item-money{
    width: 200px;
    height: 90px;
    font-size: 16px;
    font-weight: bold;
    color:white;
    padding-left:150px;
    padding-top:50px;
    background: url("../img/item_money.jpg");
}
.abs{
    position: absolute;
}
.text-indent{
    text-indent:2em;
}
.pic-img{
    border: solid 2px white;
    box-shadow: 2px 3px 10px rgba(0,0,0,.3);
}
.left-fixed{
    position:fixed;
    left:150px;
}
.left-tab{
    width: 80px;
    height: 40px;
    overflow: hidden;
    font-size: 10px;
    float: right;
    background: #f16441;
    border-left: solid 2px white;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    color: rgba(255,255,255,.5);
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 5px 3px 5px rgba(0,0,0,.4);
}
.left-tab:hover{
    width:100px;
    font-weight: bold;
    color:rgba(255,255,255,1);
    text-decoration: none;
}
.left-tab-active{
    width:100px;
    font-size:14px;
    color:white;
}
.left-tab-item{
    background: white;
    text-align: left;
    padding-left: 15px;
    clear: both;
    line-height: 30px;
    border-bottom: dashed 1px rgba(0,0,0,.1);
    font-size: 12px;
    color: #f16441;
    cursor: pointer;
}
.bottom-img{
    vertical-align:baseline;
}
.padding10-left{
    padding-left: 10px;
}
.item-idno-title{
    position: absolute;
    width: 210px;
    height:20px;
    line-height:20px;
    background: rgba(0,0,0,.5);
    color:white;
    font-weight: bold;
    text-align: center;
}
.online-service{
    position: fixed;
    right: 0;
    top: 100px;
    z-index: 50;
    width: 121px;
    text-align: center;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 8px;
}
.online-service .online-service-top {
    width: 121px;
    height: 49px;
    background: #F16441;
    position: relative;
    cursor: pointer;
}
.online-service .online-service-hotLine {
    width: 99px;
    height: 21px;
    margin: 5px auto 0;
    background: url(../img/code.png) no-repeat 0 0;
}
.online-service h2 {
    font-size: 12px;
    font-weight: normal;
    padding: 4px 0;
    margin:0;
}
.online-service p {
    margin-bottom: 2px;
}
.online-service .online-service-code {
    width: 100px;
    height: auto;
    border-top: 1px dotted #ccc;
    margin: 0 auto;
    padding-top: 5px;
}
.online-service .online-service-codeBg {
    width: 99px;
    height: 99px;
    margin: 0 auto;
    background: url(../img/code.png) no-repeat 0px -26px;
}
.online-service .online-service-top i {
    position: absolute;
    display: block;
    width: 52px;
    height: 30px;
}
.online-service .online-service-top i.arrowUp {
    top: 10px;
    left: 35px;
    background: url(../img/code.png) no-repeat -24px -127px;
}
.online-service .online-service-top i.arrowDown {
    top: 10px;
    left: 35px;
    background: url(../img/code.png) no-repeat -24px -159px;
}
.hotLine {
    color: #F16441;
    font-size: 18px;
}
.usa-hotline{
    background: white;
    margin-left: 15px;
    line-height: 25px;
    color: gray;
    font-size: 13px;
}
.msg-line{
    font-size:12px;
    padding-left:20px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom:dashed 1px rgba(0,0,0,.1);
}
.bg-entry{
    background:url("../img/bg_entry.jpg");
    height: 560px;
}
.connect {
    /*background: #efeeee;*/
    padding: 30px 0;
    width: 1000px;
    margin:auto;
}
.connect dl {
    float: left;
    padding: 5px 30px 0 65px;
    height: 49px;
    color: #848382;
    border-right: 3px solid #c2c1c1;
}
.connect dl.connect01 {
    margin-left: 50px;
    background: url(../img/sprite.png) no-repeat 0 0px;
}
.connect dl.connect02 {
    position: relative;
    margin-left: 30px;
    padding-left: 70px;
    background: url(../img/sprite.png) no-repeat 0 -49px;
}
.connect dl.connect03 {
    margin-left: 30px;
    padding-left: 70px;
    background: url(../img/sprite.png) no-repeat 0 -98px;
}
.connect dl.connect04 {
    margin-left: 30px;
    padding-left: 70px;
    background: url(../img/sprite.png) no-repeat 0 -147px;
}
