<!DOCTYPE html>
<html id="ng-app">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="纽约快递,美国转运,法拉盛快递">
    <meta name="description" content="纽约快递,美国转运,法拉盛快递">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <title>仲良速递</title>
    <link rel="shortcut icon" href="themes/default/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="themes/default/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="themes/default/bootstrap-icheck/skins/flat/green.css"/>
    <link rel="stylesheet" type="text/css" href="themes/default/css/base.css"/>
</head>
<body ng-controller="BaseCtrl">
    <header class="sys-navbar navbar-inverse">
        <div class="container">
            <div >
                <button id="menuButton" type="button" class="navbar-toggle" ng-nav="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand sys-navlogo">
                    <img src="themes/default/img/logo.jpg" height="60">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in menuList" ng-class="{'active': item.active}">
                        <a href="{{item.link}}" ng-click="selectMenu(item)" ng-bind="item.name"></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right fs12">
                    <li ng-hide="$root.webInfo.isLogin" ng-click="reg()"><a ng-bind="'注册'"></a></li>
                    <li ng-hide="$root.webInfo.isLogin" ng-click="login()"><a ng-bind="'登录'"></a></li>
                    <li ng-show="$root.webInfo.isLogin" ng-click="logout()"><a ng-bind="'注销'"></a></li>
                    <li ng-show="$root.webInfo.isLogin" ng-click="pcenter()"><a ng-bind="'会员中心'"></a></li>
                </ul>
        </div>
    </div>
    </header>
    <div id="content">
	<div class="content" ng-view></div>
    </div>
    <div class="connect">
        <div class="wrapper clearfix">
            <dl class="connect01">
                <dt>官方微博</dt>
                <dd><a href="http://weibo.com/u/2623938103" target="_blank">@仲良速递</a></dd>
            </dl>
            <dl class="connect02">
                <dt class="icon ico-weibo"></dt>
                <dd>官方微信</dd>
                <dd>brother-express</dd>
                <dd><div class="tip-arrow" style="display: none;"></div></dd>
                <dd class="qrcode" style="display: none;"><img src="/images/qr-code.png" alt=""></dd>
            </dl>
            <dl class="connect03">
                <dt class="icon ico-weibo"></dt>
                <dd>联系电话</dd>
                <dd>400-788-2552</dd>
            </dl>
            <dl class="connect04 no-border">
                <dt class="icon ico-weibo"></dt>
                <dd>商务合作</dd>
                <dd><a href="mailto:info@brother-express.com">info@brother-express.com</a></dd>
            </dl>
        </div>
    </div>
    <footer class="footer" coor="footer">
        <div class="container">
                <div class="row partner">
                    <article class="col-sm-3 partner-item">
                        <h6 class="title">
                            <a class="more" target="_blank" title="详细网点"><i class="glyphicon glyphicon-tag padding-width-space-sm"></i>详细网点</a><br>
                            <b>138 处全球网点支持</b>
                        </h6>
                        <div class="partner-img">
                            <a target="_blank" class="icon-partner-bank">
                                <img src="themes/default/img/partner1.jpg"/>
                            </a>
                        </div>
                    </article>
                    <article class="col-sm-3 partner-item">
                        <h6 class="title">
                            <a class="more" target="_blank" title="时间故事"><i class="glyphicon glyphicon-tag padding-width-space-sm"></i>时间故事</a><br>
                            <b>10 年安全稳定零失误的传递</b>
                        </h6>
                        <div class="partner-img">
                            <a target="_blank" class="icon-partner-bank">
                                <img src="themes/default/img/partner2.jpg"/>
                            </a>
                        </div>
                    </article>
                    <article class="col-sm-3 partner-item">
                        <h6 class="title">
                            <a class="more" target="_blank" title="业务详情"><i class="glyphicon glyphicon-tag padding-width-space-sm"></i>业务详情</a><br>
                            <b>2,000,000 笔订单处理</b>
                        </h6>
                        <div class="partner-img">
                            <a target="_blank" class="icon-partner-bank">
                                <img src="themes/default/img/partner3.jpg"/>
                            </a>
                        </div>
                    </article>
                    <article class="col-sm-3 partner-item">
                        <h6 class="title">
                            <a href="http://www.annlover.com" class="more" target="_blank" title="系统信息"><i class="glyphicon glyphicon-tag padding-width-space-sm"></i>系统信息</a><br>
                            <b>2015.03.01 全新互联网系统</b>
                        </h6>
                        <div class="partner-img">
                            <a href="http://www.annlover.com" target="_blank" class="icon-partner-bank">
                                <img src="themes/default/img/partner4.jpg"/>
                            </a>
                        </div>
                    </article>
                </div>
            <div class="row">
                <ul class="link col-sm-12">
                    <li class="link-item"><a target="_blank" title="关于仲良">关于仲良</a></li>
                    <li class="link-item"><a target="_blank" title="官方博客">官方博客</a></li>
                    <li class="link-item"><a target="_blank" title="诚征英才">诚征英才</a></li>
                    <li class="link-item"><a target="_blank" title="开放平台">开放平台</a></li>
                    <li class="link-item"><a target="_blank" title="联系我们">联系我们</a></li>
                    <li class="link-item"><a target="_blank" title="网站地图">网站地图</a></li>
                    <li class="link-item"><a href="http://www.annlover.com" target="_blank" title="技术支持">技术支持</a></li>
                    <div class="clearfix"></div>
                </ul>
                <li class="link-item no-border">仲良物流版权所有 2015-2017 <a href="http://www.brother-express.com" target="_blank">沪ICP备15007970号-1</a></li>
            </div>
        </div>
    </footer>
    <div class="online-service">
        <div class="online-service-top">
            <i class="arrowUp"></i>
        </div>
        <div class="online-service-hotLine"></div>
        <div class="onlineService">
            <p class="hotLine">021-52927675</p>
            <h2>请点击企业QQ咨询</h2>
            <p><a target="_blank" href="tencent://message/?uin=2199366232&amp;Site=在线QQ&amp;Menu=yes"><img src="themes/default/img/item_qq.gif" alt=""></a></p>
            <h2>周一至周六</h2>
            <p class="blue hotLine">09:30-18:30</p>
            <div class="online-service-code">
                <h2>关注仲良速递微信</h2>
                <div class="online-service-codeBg"></div>
            </div>
        </div>
    </div>
 </body>

<script data-main="js/system.js" src="js/require.min.js"></script>

<script type="text/ng-template" id="loginModal">
    <div class="bg-skyblue" style="height: 10px;"></div>
    <div class="modal-body">
        <form class="sys-form-modal" >
            <div class="input-group" ng-show="Error">
                <p><span class="label label-danger">{{Error}}</span></p>
            </div>
            <div class="input-group">
                <span class="glyphicon glyphicon-user input-group-addon"></span>
                <input type="text" class="form-control fs12" name="loginId" ng-model="loginId" placeholder="用户名"/>
            </div>
            <div class="input-group"><h4></h4></div>
            <div class="input-group" ng-hide="isReset">
                <span class="glyphicon glyphicon-link input-group-addon"></span>
                <input type="password" class="form-control fs12" name="password" ng-model="password" placeholder="密码"/>
            </div>
            <div class="fs12 text-skyblue pull-right margin-height-space-sm cursor" ng-hide="isReset" ng-click="checkReset()">忘记密码?</div>
            <div class="login-btn">
                <button type="button" class="btn btn-success btn-block bg-skyblue" ng-hide="isReset" ng-click="submit()">登录</button>
                <button type="button" class="btn btn-warning btn-block" ng-click="forgetPassword()" ng-show="isReset">重置密码</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="message">
    <div class="modal-body">
        <form class="sys-form-modal" >
            <div class="input-group">
                <p><span ng-bind="msg.text"></span></p>
            </div>
            <div class="login-btn text-center">
                <button class="btn btn-danger" ng-click="confirm()" ng-show="msg.type == 1">确认</button>
                <button class="btn btn-primary" ng-click="close()">关闭</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="loading">
    <div class="modal-body">
        <div class="text-center">
            <progressbar class="progress-striped active" value="100" type="primary"><b>处理中</b></progressbar>
        </div>
        <div class="sp-line"></div>
    </div>
</script>
<script type="text/ng-template" id="orderModal">
    <div class="panel panel-info sys-panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-align-justify padding-width-space-sm"></span><span>订单详情</span>
            <!--<span class="glyphicon glyphicon-remove pull-right"></span>-->
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row row-line">
                    <span class="label label-warning">订单信息</span>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">订单编号：</div>
                    <div class="col-sm-4 data-value">{{Order.id}}</div>
                    <div class="col-sm-2 data-name">订单名称：</div>
                    <div class="col-sm-4 data-value">{{Order.name}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">订单类型：</div>
                    <div class="col-sm-4 data-value">{{Order.type|dict:'OrderType'}}</div>
                    <div class="col-sm-2 data-name">订单状态：</div>
                    <div class="col-sm-4 data-value">{{Order.status|dict:'OrderStatus'}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">产品统称：</div>
                    <div class="col-sm-4 data-value">{{Order.productName}}</div>
                    <div class="col-sm-2 data-name">产品总重量：</div>
                    <div class="col-sm-4 data-value">{{Order.productWeight}} kg</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">国际物流商：</div>
                    <div class="col-sm-4 data-value">{{Order.worldTransName}}</div>
                    <div class="col-sm-2 data-name">国际物流单号：</div>
                    <div class="col-sm-4 data-value">{{Order.worldTransId}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">国内物流商：</div>
                    <div class="col-sm-4 data-value">{{Order.chinaTransName}}</div>
                    <div class="col-sm-2 data-name">国内物流单号：</div>
                    <div class="col-sm-4 data-value">{{Order.chinaTransId}}
                        <span ng-show="Order.chinaTransId" class="btn btn-info btn-sm" ng-click="queryExpress()">查询</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">报关人：</div>
                    <div class="col-sm-4 data-value">{{Order.payerName}}</div>
                    <div class="col-sm-2 data-name">报关证件号码：</div>
                    <div class="col-sm-4 data-value">{{Order.payerIdNo}}</div>
                </div>
                <div class="row row-line">
                    <span class="label label-warning">收件人信息</span>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">收件人名称：</div>
                    <div class="col-sm-4 data-value">{{Order.receiveName}}</div>
                </div>
                <div class="row">
                    <div class="col-sm-2 data-name">收货人省份：</div>
                    <div class="col-sm-4 data-value">{{Order.receiveProvinceName}}</div>
                    <div class="col-sm-2 data-name">收货人城市：</div>
                    <div class="col-sm-4 data-value">{{Order.receiveCityName}}</div>
                </div>
                <div class="row row-line">
                    <span class="label label-warning">订单轨迹</span>
                </div>
                <div class="row">
                    <table class="table table-hover">
                        <tr>
                            <th class="info" style="width:15%;">更新人</th>
                            <th class="info" style="width:20%;">更新时间</th>
                            <th class="info" style="width:15%;">地点</th>
                            <th class="info" style="width:10%;">状态</th>
                            <th class="info" style="width:40%;">备注</th>
                        </tr>
                        <tr ng-repeat="item in Order.updateInfo">
                            <td>{{item.updater}}</td>
                            <td>{{item.time|date:'yyyy-MM-dd'}}</td>
                            <td>{{item.gisText}}</td>
                            <td>{{item.status|dict:'OrderStatus'}}</td>
                            <td>{{item.remark}}</td>
                        </tr>
                        <tr ng-show="pathError">
                            <td colspan="5"><b class="text-danger" ng-bind="pathError"></b></td>
                        </tr>
                        <tr ng-repeat="path in Order.orderPaths">
                            <td>-</td>
                            <td>{{path.date}}</td>
                            <td>{{path.place}}</td>
                            <td>转运</td>
                            <td>{{path.details}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="expressModal">
    <div class="modal-header">
        <div class="form-group">
            <p><button class="btn btn-default">国内物流查询</button></p>
        </div>
        <div class="form-group">
            <span class="label label-success">快递公司：{{Order.chinaTransName}}</span>
            <span class="label label-success">快递单号：{{Order.chinaTransId}}</span>
        </div>
    </div>
    <div class="modal-body">
        <iframe name="kuaidi100" src="http://www.kuaidi100.com/frame/app/index2.html" width="800" height="400" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
    </div>
</script>

</html>